<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Models & Databases</title>
    <link rel="stylesheet" href="{% static "css/mystyle.css" %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  </head>
  <body>
    <h1>Welcome to Models & Databases</h1>
    <ol>
      <li>Completed basics of MTV framework</li>
      <li>Completed embedding components from py to html template</li>
      <li>Inserted static into the html</li>
      <li>Completed population of data using faker</li>
      <li>Completed providing admin dashboard</li>
    </ol>
    <div class="djangoclass">
      {% if access_record %}
      <table>
        <thead>
          <th>Site Name</th>
          <th>Date Accessed</th>
        </thead>
        {% for acc in access_record %}
        <tr>
          <td>{{ acc.name }}</td>
          <td>{{ acc.date }}</td>
        </tr>
        {% endfor %}
      </table>
      {% else %}
        <p>Please update the records to show here</p>
      {% endif %}
    </div>

    <!--<em>{{ help_page }}</em>-->
    <img src="{% static 'images/image.jpeg' %}" alt="My image">
    <!-- This works -->
  </body>
</html>
